@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "iranyekan";
    font-weight: 500;
    src: url("../src/assets/font/iranyekanmedium.ttf") format("ttf"),
      url("../src/assets/font/iranyekanmedium.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "iranyekan";
    font-weight: 700;
    src: url("../src/assets/font/iranyekanbold.ttf") format("ttf"),
      url("../src/assets/font/iranyekanbold.woff") format("woff");
    font-display: swap;
  }
}

* {
  padding: 0;
  margin: 0;
}
